

<!-- FEATURED -->
<section id="box-featured" >
	<div id="featured"  >

		<% @courses.each do |course| %>
		<div style="background-color: <%= course.background_color %>;">
			<div class="slide_fixed" >
				<div class="imagem-slide">
					<img src="<%= course.logo %>" />
				</div>
				<div class="conteudo-slide" >
					<a href="solucoes.html">
						<label class="titulo_slide" >
							<%= course.name %>
						</label>

						<label class="descricao_slide">
							<%= course.short_description %>
						</label>
					</a>	
				</div>

			</div>
		</div>

		<% end %>
		
	</div>
</section>

<!-- CONTEUDO -->

<div class="content">

	<!-- SOLUÇÕES -->
	<section id="nossas-solucoes">
		<div class="solucoes">
			<h3 class="titulo"><span></span>NOSSAS SOLUÇÕES</h3>
			<ul>
				<li>
					<div class="solucao">
						<label>Desenvolvimento de Sistemas</label>
						<p>Criamos a melhor solução para a necessidade da sua empresa.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>

				<li>
					<div class="solucao">
						<label>Treinamentos em T.I</label>
						<p>Entre no mercado com as linguagens do futuro.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>
				<li>
					<div class="solucao">
						<label>Consultoria e suporte em T.I e infra-estrutura</label>
						<p>Análise de implantação  e o melhor know-how para grandes instalações.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>

			</ul>

		</div>

		<div class="noticias">
			<label class="titulo-noticias"><span> </span>Ultimas Novidades</label>
			<ul>
				<li>
					<a href="eventos.html">
						<div class="noticia">
							<span class="noticia-data">12/05</span>
							-
							<span class="noticia-descricao">Curso de Cobol - Vagas Limitadas</span>
						</div>	
					</a>					
				</li>

				<li>
					<a href="eventos.html">
						<div class="noticia">							
							<span class="noticia-data">15/05</span>
							-
							<span>Vaga para Analista Desenvolvedor .NET e Delphi</span>
						</div>		
					</a>				
				</li>

				<li>
					<a href="eventos.html">
						<div class="noticia">							
							<span class="noticia-data">23/05</span>
							-
							<span class="noticia-descricao">FTI reformula identidade pessoal e lança novo portal</span>
						</div>
					</a>			
				</li>
			</ul>
			<a href="eventos.html" class="ver-todas-noticias"><span> </span>Ver Todas</a>
		</div>		

		<img src="/images/sombra-divisao.png" alt="sombra-divisao">
	</section> 

	<!-- EVENTOS -->
	<section id="eventos">
		<div class="box-container">
			<h3 class="titulo"><span> </span>EVENTOS</h3>	
			<div id="nav-eventos"></div>	
			<ul id="banner-eventos">
				<li class="evento">
					<img src="/images/imagem-feira.png" class="evento-imagem" alt="feira">	
					<div class="evento-info">
						<label>Feira de Informática</label>	
						<p>75% do e-commerce nacional; 60 milhões de transações processadas</p>	
						<a href="eventos.html">Leia mais</a>	
					</div>
				</li>

				<li class="evento">
					<img src="/images/imagem-ufpr.png" class="evento-imagem" alt="ufpr">	
					<div class="evento-info">
						<label>Palestra na UTFPR</label>	
						<p>75% do e-commerce nacional; 60 milhões de transações processadas</p>	
						<a href="eventos.html">Leia mais</a>	
					</div>
				</li>	
				
			</ul>		
		</div>			
	</section> 

	<!-- ENDERECO -->
	<section id="endereco">
		<div class="box-endereco-topo">			
			<div class="box-endereco-left">
				<img src="/images/sombra-divisao.png" class="sombra-endereco" alt="sombra-endereco">

				<div class="box-endereco-info">
					<h3 class="titulo"><span> </span>FAÇA NOS UMA VISITA!</h3>
					<address>
						<p>AVENIDA HIGIENÓPOLIS, 1100</p>
						<p>Edif Pioneiros do Café, 2º andar - salas 21 e 22 / LONDRINA - PARANÁ</p>
					</address>
				</div>
			</div>
			<div class="box-endereco-right">
				<a href="mailto:contato@ftitecnologia.com.br?subject=Interesse em vagas de trabalho">
					<div class="box-a" >
						VENHA TRABALHAR CONOSCO!
					</div>	
				</a>
				<a href="mailto:contato@ftitecnologia.com.br?subject=Novidades por email">
					<div class="box-b">
						RECEBA NOVIDADES POR EMAIL					
					</div>
				</a>
			</div>
		</div>
		<div class="box-endereco-mapa">
			<div class="mapCanvasIndex" id="map-canvas">
			</div>
		</div>
	</section>
	
	

