
<!-- BARRA TOPO -->
<div id="barra-topo">
	<div class="content">
		<div class="box-topo">
			<div class="right">
				<div class="topo-informacoes">
					<div id="topo-informacao-telefone" style="display:none;">
						<a href="tel:+55433323-1163">
							<span class="span-telefone">43 <b>3323-1163</b></span>
						</a>                
						<span class="span-descricao">Atendimento de seg. a sexta</span>             
					</div>

					<div id="topo-informacao-email">
						<a href="mailto:contato@ftitecnologia.com.br">contato@ftitecnologia.com.br</a>
					</div>
				</div>
				<div class="topo-icones">
					<div id="topo-ico-email">
						<a href="mailto:contato@ftitecnologia.com.br">
							<img src="/images/email.png" alt="email">
						</a>
					</div>
					<div id="topo-ico-tel">							
						<img src="/images/telefone.png" alt="telefone">			
					</div>
				</div>

			</div>
		</div>		
	</div>	
</div>

<!-- HEADER -->
<header>
	<div class="content">
		<a href="index.html">
			<img src="/images/logo.png" alt="logo" id="logo">
		</a>            
		<img src="/images/sombra-menu.png" class="sombra-menu" alt="sombra-menu">

		<div class="texto-logo">
			<p>SOLUÇÕES INTEGRADAS EM T.I</p>
		</div>
		<nav>
			<ul>
				<li>
					<a href="trajetoria.html">
						<div>
							<span>TRAJETÓRIA</span>
						</div>
					</a>
				</li>
				<li>
					<a href="clientes.html">
						<div>
							<span>CLIENTES</span>
						</div>
					</a>
				</li>
				<li>
					<a href="solucoes.html">
						<div>
							<span>SOLUÇÕES</span>
						</div>
					</a>
				</li>
				<li>
					<a href="produtos.html">
						<div>
							<span>PRODUTOS</span>
						</div>
					</a>
				</li>
				<li>
					<a href="equipe.html">
						<div>
							<span>EQUIPE</span>
						</div>
					</a>
				</li>
				<li>
					<a href="quemsomos.html">
						<div>
							<span>QUEM SOMOS</span>
						</div>
					</a>
				</li>
				<li>
					<a href="eventos.html">
						<div>
							<span>EVENTOS</span>
						</div>
					</a>
				</li>
				<li>
					<a href="contato.html">
						<div>
							<span> CONTATO</span>
						</div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<!-- FEATURED -->
<section id="box-featured" >
	<div id="featured"  >
		<div style="background-color: #f5f5f5">
			<div class="slide_fixed" >
				<div class="imagem-slide">
					<img src="/images/android.png" alt="android" />
				</div>
				<div class="conteudo-slide" >
					<a href="solucoes.html">
						<label class="titulo_slide" >
							CURSO DE DESENVOLVIMENTO<br />
							PLATAFORMA ANDROID
							<br />

						</label>

						<label class="descricao_slide">
							Aprenda a desenvolver aplicativos para sistema do google.

						</label>
					</a>	
				</div>

			</div>
		</div>
		<div style="background-color: #c3bcbc;">
			<div class="slide_fixed">
				<div class="imagem-slide">
					<img src="/images/java_logo.png"  alt="logo_java"/>
				</div>
				<div class="conteudo-slide">
					<a href="solucoes.html">
						<label class="titulo_slide">
							CURSO DE JAVA<br />
						</label>

						<label class="descricao_slide">
							O treinamento JAVA fornece uma base sólida em lógica,
							<br />
							orientação à objetos e frameworks

						</label>
					</a>
				</div>

			</div>
		</div>
		<div style="background-color: #49BDEC">
			<div class="slide_fixed">
				<div class="imagem-slide">
					<img src="/images/net.jpg" alt=".net"/>
				</div>
				<div class="conteudo-slide">
					<a href="solucoes.html">
						<label class="titulo_slide">
							CURSO DE DESENVOLVIMENTO .NET
							<br />

						</label>

						<label class="descricao_slide">
							Curso voltado a desenvolvimento web.

						</label>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- CONTEUDO -->

<div class="content">

	<!-- SOLUÇÕES -->
	<section id="nossas-solucoes">
		<div class="solucoes">
			<h3 class="titulo"><span></span>NOSSAS SOLUÇÕES</h3>
			<ul>
				<li>
					<div class="solucao">
						<label>Desenvolvimento de Sistemas</label>
						<p>Criamos a melhor solução para a necessidade da sua empresa.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>

				<li>
					<div class="solucao">
						<label>Treinamentos em T.I</label>
						<p>Entre no mercado com as linguagens do futuro.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>
				<li>
					<div class="solucao">
						<label>Consultoria e suporte em T.I e infra-estrutura</label>
						<p>Análise de implantação  e o melhor know-how para grandes instalações.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>

			</ul>

		</div>

		<div class="noticias">
			<label class="titulo-noticias"><span> </span>Ultimas Novidades</label>
			<ul>
				<li>
					<a href="eventos.html">
						<div class="noticia">
							<span class="noticia-data">12/05</span>
							-
							<span class="noticia-descricao">Curso de Cobol - Vagas Limitadas</span>
						</div>	
					</a>					
				</li>

				<li>
					<a href="eventos.html">
						<div class="noticia">							
							<span class="noticia-data">15/05</span>
							-
							<span>Vaga para Analista Desenvolvedor .NET e Delphi</span>
						</div>		
					</a>				
				</li>

				<li>
					<a href="eventos.html">
						<div class="noticia">							
							<span class="noticia-data">23/05</span>
							-
							<span class="noticia-descricao">FTI reformula identidade pessoal e lança novo portal</span>
						</div>
					</a>			
				</li>
			</ul>
			<a href="eventos.html" class="ver-todas-noticias"><span> </span>Ver Todas</a>
		</div>		

		<img src="/images/sombra-divisao.png" alt="sombra-divisao">
	</section> 

	<!-- EVENTOS -->
	<section id="eventos">
		<div class="box-container">
			<h3 class="titulo"><span> </span>EVENTOS</h3>	
			<div id="nav-eventos"></div>	
			<ul id="banner-eventos">
				<li class="evento">
					<img src="/images/imagem-feira.png" class="evento-imagem" alt="feira">	
					<div class="evento-info">
						<label>Feira de Informática</label>	
						<p>75% do e-commerce nacional; 60 milhões de transações processadas</p>	
						<a href="eventos.html">Leia mais</a>	
					</div>
				</li>

				<li class="evento">
					<img src="/images/imagem-ufpr.png" class="evento-imagem" alt="ufpr">	
					<div class="evento-info">
						<label>Palestra na UTFPR</label>	
						<p>75% do e-commerce nacional; 60 milhões de transações processadas</p>	
						<a href="eventos.html">Leia mais</a>	
					</div>
				</li>	
				
			</ul>		
		</div>			
	</section> 

	<!-- ENDERECO -->
	<section id="endereco">
		<div class="box-endereco-topo">			
			<div class="box-endereco-left">
				<img src="/images/sombra-divisao.png" class="sombra-endereco" alt="sombra-endereco">

				<div class="box-endereco-info">
					<h3 class="titulo"><span> </span>FAÇA NOS UMA VISITA!</h3>
					<address>
						<p>AVENIDA HIGIENÓPOLIS, 1100</p>
						<p>Edif Pioneiros do Café, 2º andar - salas 21 e 22 / LONDRINA - PARANÁ</p>
					</address>
				</div>
			</div>
			<div class="box-endereco-right">
				<a href="mailto:contato@ftitecnologia.com.br?subject=Interesse em vagas de trabalho">
					<div class="box-a" >
						VENHA TRABALHAR CONOSCO!
					</div>	
				</a>
				<a href="mailto:contato@ftitecnologia.com.br?subject=Novidades por email">
					<div class="box-b">
						RECEBA NOVIDADES POR EMAIL					
					</div>
				</a>
			</div>
		</div>
		<div class="box-endereco-mapa">
			<div class="mapCanvasIndex" id="map-canvas">
			</div>
		</div>
	</section>
	
	<!-- FOOTER -->	
	
	<div id="footer">
		<img src="/images/sombra-divisao.png" class="sombra-footer" alt="sombra-footer">
		<div id="logo-footer">
			<img src="/images/logo-footer.png" alt="logo">
		</div>
		<div class="fti-footer">
			<span>FTI TECNOLOGIA</span>
			<span>Todos os direitos reservados/ 
				<text id="ano"></text>
			</span>
			<div class="divAddressFooter">
				<a href="https://www.google.com.br/maps/place/FTI+Tecnologia/@-23.3192259,-51.165988,17z/data=!3m1!4b1!4m2!3m1!1s0x94eb44a23ad12a65:0x6aaec0816086bb73">
					<img class="locationIco" src="/images/locationIco.png" alt="Localização icone">
				</a>
				<address class="addressFooter">
					AVENIDA HIGIENÓPOLIS, 1100
					<br>
					Edif Pioneiros do Café / Londrina - Paraná
					<br>
					Telefone:<a href="tel:+554333231163">(43) 3323-1163</a>
				</address>
			</div>
		</div>
	</div>
</div>

<script type="text/jscript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBunJFEL8ThMp0KFWs5kK_WuSJEFDSkv2Y&sensor=false"></script>
<script type="text/javascript">
	$(document).ready(function () {          
		google.maps.event.addDomListener(window, 'load', initialize);
		initialize();
	});
</script>