

<!-- FEATURED -->
<section id="box-featured" >
	<div id="featured"  >

		<%= render partial: "course", locals: { course: @courses } %>
		
	</div>
</section>

<!-- CONTEUDO -->

<div class="content">

	<!-- SOLUÇÕES -->
	<section id="nossas-solucoes">
		<div class="solucoes">
			<h3 class="titulo">NOSSAS SOLUÇÕES</h3>
			<ul>
				<li>
					<div class="solucao">
						<label>Desenvolvimento de Sistemas</label>
						<p>Criamos a melhor solução para a necessidade da sua empresa.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>

				<li>
					<div class="solucao">
						<label>Treinamentos em T.I</label>
						<p>Entre no mercado com as linguagens do futuro.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>
				<li>
					<div class="solucao">
						<label>Consultoria e suporte em T.I e infra-estrutura</label>
						<p>Análise de implantação  e o melhor know-how para grandes instalações.</p>
						<a href="solucoes.html">leia mais</a>							
					</div>						
				</li>

			</ul>

		</div>

		<div class="noticias">

			<%= render partial: "new", locals: { new: @news } %>

		</div>		

		<img src="/images/sombra-divisao.png" alt="sombra-divisao">
	</section> 

	<!-- EVENTOS -->
	<section id="eventos">
		<%= render partial: "event", locals: { event: @events } %>	
	</section> 

	<!-- ENDERECO -->
	<section id="endereco">
		<div class="box-endereco-topo">			
			<div class="box-endereco-left">
				<img src="/images/sombra-divisao.png" class="sombra-endereco" alt="sombra-endereco">

				<div class="box-endereco-info">
					<h3 class="titulo"><span> </span>FAÇA NOS UMA VISITA!</h3>
					<address>
						<p>AVENIDA HIGIENÓPOLIS, 1100</p>
						<p>Edif Pioneiros do Café, 2º andar - salas 21 e 22 / LONDRINA - PARANÁ</p>
					</address>
				</div>
			</div>
			<div class="box-endereco-right">
				<a href="mailto:contato@ftitecnologia.com.br?subject=Interesse em vagas de trabalho">
					<div class="box-a" >
						VENHA TRABALHAR CONOSCO!
					</div>	
				</a>
				<a href="mailto:contato@ftitecnologia.com.br?subject=Novidades por email">
					<div class="box-b">
						RECEBA NOVIDADES POR EMAIL					
					</div>
				</a>
			</div>
		</div>
		<div class="box-endereco-mapa">
			<div class="mapCanvasIndex" id="map-canvas">
			</div>
		</div>
	</section>
	
	

