<ul>
					<!-- <li>
						<a href="trajetoria.html">
							<div>
								<span>TRAJETÓRIA</span>
							</div>
						</a>
					</li> -->
					<li>
						<a href="/client">
							<div>
								<span>CLIENTES</span>
							</div>
						</a>
					</li>
					<!-- <li>
						<a href="solucoes.html">
							<div>
								<span>SOLUÇÕES</span>
							</div>
						</a>
					</li>
					<li>
						<a href="produtos.html">
							<div>
								<span>PRODUTOS</span>
							</div>
						</a>
					</li> -->
					<li>
						<a href="equipe.html">
							<div>
								<span>EQUIPE</span>
							</div>
						</a>
					</li>
					<li>
						<a href="quemsomos.html">
							<div>
								<span>QUEM SOMOS</span>
							</div>
						</a>
					</li>
					<li>
						<a href="eventos.html">
							<div>
								<span>EVENTOS</span>
							</div>
						</a>
					</li>
					<li>
						<a href="/contact">
							<div>
								<span> CONTATO</span>
							</div>
						</a>
					</li>
				</ul>